html {
	display: table;
	height: 100%;
	width: 100%;
}

body {
	background-color: #000;
	display: table-cell;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

canvas {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	cursor: none;
}
